<ion-content>

  <form>
    <h1>Login</h1>
    <div class="social-container">
      <a class="social"><i class="fas fa-user-plus"></i></a>
      <a class="social"><i class="fab fa-google-plus-g"></i></a>
    </div>
    <span>ou sua conta</span>
    <input type="email" placeholder="Email"/>
    <input type="password"placeholder="Senha"/>
      <ion-item lines="none">
        <ion-label>Manter Logado</ion-label>&nbsp;&nbsp;
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <a href="#">Esqueceu a senha?</a>
    <button routerLink="#">Logar</button>
    <button routerLink="/cadastro"><i class="fas fa-user-plus"></i> Cadastro</button>
  </form>

</ion-content>
